.landing {
  background: $lightgrey;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

#parallax-bg-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 300px;
  z-index: 3;
  @include sm {
    top: 400px;
  }
  @include md {
    top: 450px;
  }
  @include ml {
    top: 500px;
  }
  @include lg {
    top: 350px;
  }
  .tagline {
    color: $black-2;
    font-family: $font-family-sub;
    font-size: 1.2em;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: 1.8em;
    text-transform: uppercase;
    text-align: center;
    padding: 50px;
    z-index: 2;
    display: none;
    @include ms {
      width: 100%;
      padding: 0;
    }
    @include ml {
      margin-bottom: 0;
    }
    @include lg {
      top: 50px;
    }
    @include xl {
      top: 150px;
    }
  }
}

#parallax-bg-2 {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 200px;
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  overflow: hidden;

  #bg-2-1 {
    display: block;
    position: absolute;
    overflow: hidden;
    @include ml {
      margin-bottom: 0;
    }
    @include lg {
      margin-bottom: -50px;
    }
    @include xl {
      margin-bottom: 100px;
    }
  }

  #bg-2-2 {
    display: block;
    position: absolute;
    overflow: hidden;
    margin-bottom: 150px;
    @include ml {
      margin-bottom: 200px;
      left: 300px;
    }
    @include lg {
      margin-bottom: 0;
    }
    @include xl {
      margin-bottom: 170px;
    }
    @include xxl {
      left: 500px;
    }
  }
}

.home-section-two {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 30px 0 50px;
  z-index: 4;
  @include s-long {
    margin-bottom: 70px;
  }
  @include ms {
    margin-top: 70px;
  }
  @include md {
    margin-bottom: 20px;
  }
  @include lg {
    flex-direction: row;
    justify-content: center;
    margin: 0;
  }

  .feature-image {
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    height: 350px;
    margin: 20px 0;
    width: 75%;
    @include ms {
      height: 400px;
      width: 55%;
    }
    @include md {
      height: 450px;
      width: 45%;
    }
    @include ml {
      width: 40%;
    }
    @include lg {
      height: 350px;
      width: 30%;
    }
    @include xl {
      height: 450px;
      width: 25%;
    }
  }

  & .feature-image-one {
    margin-right: 30px;
    @include md {
      margin-right: 100px;
    }
    @include ml {
      margin-right: 15px;
    }
    @include xl {
      margin-right: 25px;
    }
  }

  & .feature-image-two {
    margin-left: 30px;
    @include md {
      margin-left: 100px;
    }
    @include lg {
      margin: 150px 0 0 15px;
    }
    @include xl {
      margin-left: 25px;
    }
  }
}

.home-section-three-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 1100px;
  width: 100%;
  z-index: 5;
  @include sm {
    height: 800px;
  }

  #parallax-bg-3-a {
    position: absolute;
    height: 600px;
    top: 0;
    left: 0;
    overflow: visible;
    width: 30%;
    z-index: 6;
    @include ms {
      top: 10px;
      width: 25%;
    }
    @include md {
      width: 20%;
    }
    @include lg {
      top: 0;
      width: 15%;
    }
    @include xxl {
      width: 12%;
    }

    .image-left {
      position: absolute;
      display: block;
      width: 100%;
      z-index: 7;
    }

    #parallax-bg-3-b {
      background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
      position: absolute;
      height: 500px;
      width: 100%;
      top: 100px;
      left: 0;
      overflow: visible;
      z-index: 7;
      @include s {
        top: 220px;
      }
      @include ms {
        top: 250px;
      }
      @include md {
        top: 400px;
      }
      @include xl {
        top: 450px;
      }

      img {
        position: absolute;
        object-fit: cover;
        top: 200px;
        left: 0;
        width: 150%;
        @include ms {
          top: 200px;
        }
        @include md {
          top: 170px;
        }
        @include lg {
          top: 100px;
          left: -50px;
          width: 250%;
        }
      }
    }
  }

  .text {
    position: relative;
    height: 1100px;
    top: 50px;
    width: 40%;
    z-index: 9;
    @include s {
      top: 100px;
    }
    @include ms {
      width: 50%;
    }
    @include md {
      top: 150px;
    }
    @include lg {
      top: 150px;
      width: 40%;
    }
    @include xl {
      width: 35%;
    }
    h2 {
      color: $black-3;
      font-family: $font-family-title;
      font-size: 1.5em;
      font-weight: 700;
      text-align: center;
      width: 100%;
      -webkit-font-smoothing: antialiased;
      @include ms {
        font-size: 2.5em;
      }
      @include ml {
        margin-bottom: 70px;
      }
      @include xl {
        font-size: 3em;
      }
    }

    .paragraph-text {
      position: relative;
      @include body-text;
      font-size: 0.9em;
      text-align: center;
      padding: 1px;
      width: 100%;
      @include lg {
        width: 80%;
        margin: 0 auto;
      }

      .drop-cap {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 40%;
        @include s-long {
          left: -15px;
        }
        @include ms {
          width: 30%;
        }
        @include md {
          width: 20%;
        }
      }
    }
  }

  #parallax-bg-4-a {
    position: absolute;
    height: 600px;
    top: 50px;
    right: 0;
    width: 25%;
    z-index: 6;
    @include s {
      top: 100px;
    }
    @include md {
      top: 100px;
      width: 20%;
    }

    .image-right {
      position: absolute;
      display: block;
      width: 100%;
      z-index: 7;
    }

    #parallax-bg-4-b {
      background: linear-gradient(0deg, rgba(255,255,255,1) 49%, rgba(255,255,255,0) 100%);
      position: relative;
      top: 10px;
      overflow: visible;
      height: 250px;
      width: 100%;
      z-index: 7;
      @include s {
        height: 450px;
        top: -50px;
      }
      @include sm {
        top: -40px;
      }
      @include ms {
        height: 250px;
        top: 120px;
      }
      @include md {
        height: 350px;
        top: 120px;
      }
      @include ml {
        top: 150px;
      }
      @include lg {
        top: 200px;
      }
      @include xl {
        top: 300px;
      }
      @include xxl {
        top: 350px;
      }

      img {
        position: absolute;
        object-fit: cover;
        top: 100px;
        left: 0;
        width: 150%;
        @include s {
          top: 170px;
        }
        @include ms {
          top: 50px;
        }
        @include lg {
          top: 50px;
        }
        @include xl {
          top: 50px;
        }
      }

      .smoke-four {
        @include xl {
          top: 20px;
        }
      }
    }
  }
}

@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {

    .home-section-three-content .safari-only-text {
      @include lg {
        top: 280px;
      }
    }

    .home-section-two .safari-only-feature-img {
      @include lg {
        height: 450px;
      }
    }

    #parallax-bg-1 .safari-only-tagline {
      @include lg {
        top: 150px;
      }
    }

    .safari-only-desktop-menu {
      @include lg {
        width: 40%;
      }
    }

    .sticky-header .container .safari-only-scroll-top {
      @include xl {
        width: 20%;
      }
      @include xxl {
        width: 15%;
      }
    }

  }
}
