// static nav

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.header-static {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  @include s {
    margin-top: 20px;
  }
  @include sm {
    margin-top: 30px;
  }
  @include ms {
    margin-top: 10px;
    padding: 30px;
  }
  @include lg {
    width: 93%;
  }
}

.header-static {
  .site-logo {
    width: 45%;
    @include sm {
      width: 25%;
    }
    @include lg {
      width: 15%;
    }
    @include xl {
      width: 10%;
    }
  }

  & img {
    height: auto;
    max-width: 100%;
  }
}

.desktop-menu {
  @media(max-width: 1024px) {
    display: none;
  }
  @include lg {
    display: block;
    width: 35%;
    @include xl {
      margin-right: 50px;
    }
  }
}

.mobile-menu {
  @include ml {
    display: block;
  }
  @include lg {
    display: none;
  }
}
/* Mobile Menu */
.hamburger {
  cursor: pointer;

  .fa-bars {
    color: $black-3;
    font-size: 1.5em;
    @include s {
      font-size: 1.7em;
    }
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(216,216,216, 1);
  overflow-x: hidden;
  transition: 0.3s;
  z-index: 5;

  li {
    margin: 20px 0;
  }

  a {
    @include nav-text;
    display: block;
    font-size: 1.1em;
    padding: 10px;
    transition: 0.2s;
    @include sm {
      padding: 20px;
    }
  }

  .closebtn {
    font-size: 2em;
    position: absolute;
    top: 40px;
    right: 25px;
    @include sm {
      top: 70px;
    }
    @include ml {
      top: 50px;
      right: 45px;
    }
  }
}

.overlay a:focus,
.overlay a:hover {
  color: #f1f1f1;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;

  .main-nav-item {
    padding: 0;
  }
}
//desktop menu
#menu-main-nav-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;

  li a {
    @include nav-text;
    font-size: 0.85em;
  }
}
//sticky menu
.sticky-header {
  position: fixed;
  width: 100%;
  height: 78px;
  background: $light;
  z-index: 10;
  display: none;
  @media(max-width: 600px) {
    top: 0;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    width: 93%;

    h1 {
      @include alt-logo;
      -webkit-font-smoothing: antialiased;
      font-size: 1.1em;
      padding-right: 25px;
      @include ms {
        font-size: 1.3em;
      }
    }

    & .scroll-top {
      @include nav-text;
      font-size: 0.7em;
      margin-left: 10px;
      img {
        width: 10%;
      }
      @include sm {
       font-size: 0.85em;
     }
    }
  }
}
//sticky menu mobile
.sticky-menu-mobile {
  @include ml {
    display: block;
  }
  @include lg {
    display: none;
  }
}
//sticky menu desktop
.sticky-menu-desktop {
  @media(max-width: 1024px) {
    display: none;
  }
  @include lg {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .sticky-nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;

    #menu-main-nav-1 {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      padding: 0;

      li a {
        list-style-type: none;
        @include nav-text;
        font-size: 0.85em;
        margin: 0 15px;
      }
    }
  }
}
